/* 	CSS voor Cultuurhuis Servlets & JSP Scrum oefening/test */

/*----------------- */
/* Algemene styling */
/*----------------- */

body {
	background-color: #fafafa;
	color: #042f64;
	font-family: sans-serif;
}

/*---------------- */
/* 	Header styling */
/*---------------- */

h1.indexpagina {
	background-image: url(../images/voorstellingen.png);
	background-repeat: no-repeat;
	background-position: 15em 0em;
	padding-top: 2em;
}


/*-------------- */
/* 	Menu styling */
/*-------------- */

nav ul {
	padding: 0.4em 0;
	padding-left: 1.0em;
}

nav li {
	display: inline-block;
	vertical-align: middle;
}

nav li a {
	color: 5355d7;
	padding-left: 0.6em;
	padding-right: 0.6em;
	text-decoration: underline;
}

a:hover {
	color: #00ffff;
	background-color: blue;
}